pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors allowing to create, view and edit local documents
	pkgver = 8.3.3
	pkgrel = 1
	url = https://www.onlyoffice.com/desktop.aspx
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = python
	makedepends = dos2unix
	makedepends = nodejs-lts-iron
	makedepends = npm
	makedepends = yarn
	makedepends = grunt-cli
	makedepends = cmake
	makedepends = p7zip
	makedepends = ninja
	makedepends = jdk11-openjdk
	depends = curl
	depends = gtk3
	depends = alsa-lib
	depends = libpulse
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gst-plugins-ugly
	depends = libxss
	depends = nss
	depends = nspr
	depends = ttf-dejavu
	depends = ttf-liberation
	depends = ttf-carlito
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-multimedia
	depends = qt5-x11extras
	depends = qt5-svg
	optdepends = libreoffice: for OpenSymbol fonts
	optdepends = otf-takao: for japanese Takao fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	optdepends = gst-plugins-good: for playing embedded video files
	conflicts = onlyoffice-bin
	conflicts = onlyoffice-git
	options = !emptydirs
	options = !lto
	source = git+https://github.com/ONLYOFFICE/DesktopEditors#tag=v8.3.3
	source = onlyoffice-core::git+https://github.com/ONLYOFFICE/core#tag=v8.3.3.23
	source = onlyoffice-desktop-apps::git+https://github.com/ONLYOFFICE/desktop-apps#tag=v8.3.3.23
	source = onlyoffice-desktop-sdk::git+https://github.com/ONLYOFFICE/desktop-sdk#tag=v8.3.3.23
	source = onlyoffice-dictionaries::git+https://github.com/ONLYOFFICE/dictionaries#tag=v8.3.3.23
	source = onlyoffice-sdkjs::git+https://github.com/ONLYOFFICE/sdkjs#tag=v8.3.3.23
	source = onlyoffice-sdkjs-forms::git+https://github.com/ONLYOFFICE/sdkjs-forms#tag=v8.3.3.23
	source = onlyoffice-web-apps::git+https://github.com/ONLYOFFICE/web-apps#tag=v8.3.3.23
	source = onlyoffice-build_tools::git+https://github.com/ONLYOFFICE/build_tools#tag=v8.3.3.23
	source = onlyoffice-core-fonts::git+https://github.com/ONLYOFFICE/core-fonts#tag=v8.3.3.23
	source = onlyoffice-document-templates::git+https://github.com/ONLYOFFICE/document-templates#tag=v8.3.3.23
	source = onlyoffice.github.io::git+https://github.com/ONLYOFFICE/onlyoffice.github.io
	source = git+https://chromium.googlesource.com/chromium/tools/depot_tools.git#commit=8dde9800ee2b8326ab11a87abd67d3bd9f8c8773
	source = git+https://github.com/v8/v8#tag=9.0.257.43
	source = git+https://github.com/unicode-org/icu.git#tag=release-58-3
	source = v8-89-fix-cstdint.diff
	source = 0001-Add-update-only-to-avoid-download-and-build-at-once.patch
	source = 0002-Add-no-third-party-update-and-update-third-party-onl.patch
	source = 0003-use-QT_VERSION-env-instead-of-guessing.patch
	source = 0004-Only-build-tar.patch
	source = 0001-Fix-boost-module-import.patch
	source = use-fpermissive.diff
	source = fix-glib-qt-macro-collision.diff
	source = fix-limits-include.diff
	sha256sums = 4d987160ccc966f4049be3f8c2dcf5a9f5d3b941f880408a80772e04bb593b2e
	sha256sums = 016401fe7c32d6f1c8499e03300d4f2c9e35b80a4c8f272f5eef37644a99a802
	sha256sums = 996e04f7fa654b20ada92244cd1944060e5cc7edf5c17b8c0d3a408c02ff3485
	sha256sums = 5fce3ea026434e53f5b66a9b56377d7eb8226c10f09cfd6a468f7a98d80eeba6
	sha256sums = a4a962604c085ff982d06d3b6b03763ada18ce27364742ea63c8754f85d4cd0f
	sha256sums = 21b75f1026838e88a663fc429239db67d0357342c48eac64f89b72cdc2e0f8e5
	sha256sums = ce7d8ee17bcef34c4f7c6559ec9d76d22272fe80213cca8c9fa44fcc156c87f7
	sha256sums = eb2c5dd0b5df70b9a393f0d0ea12bf3cfbcf10864ad972ed1b24fea22be62441
	sha256sums = c1e10fa642f849fe5192f899ac73e180d8428338fecc4345201f48538de5ec3a
	sha256sums = 55c1d70a8bdd8f818af8e4c784bfc03f0569fcb863cc6797f888b749153ed720
	sha256sums = 8c2317192e91192eee56dff15bd1cfa901c8f7290e2e09c402ea3886e3090350
	sha256sums = SKIP
	sha256sums = cd7a982bf79eae86a8b7727193e2a9feccd1388cd0cc474b8d786ac6dc695cfe
	sha256sums = 8cd5a305b9ce85066094963a5d28ad221f9598b9e98e569bf47c61f570c2988b
	sha256sums = 26127ef7a53f1343b36bd5da678663b78dbef81f9d22ed416555e853f55dfc4c
	sha256sums = 36e4855625bf3eaab293208478492393fb4e8f0f1076fac06df56ca828319ffc
	sha256sums = a4f2502acfdc48d3daad5ed166c1cd15cb0595a4d5018f22d9390f73f25dd8c6
	sha256sums = e9d56d030039ad72e89dc48877f7fccaeac4cfa5ff584833849be2601fca5fb7
	sha256sums = bdcf095fd46fb47f2992510078c46cef2b0084000ff4a0c4f956efb0db7e4d57
	sha256sums = 0f7acc17b78eaeb338f098088ee11356045a53af6698c79ada45fa261c8d18fe
	sha256sums = 95e107a7c2a895866e8a1d4c89bb4dbed50027fff9e5b9ab513c556537554eef
	sha256sums = 222dab12468f27b2bc1cc098ad2e4ca5bff8df845939f5cba2efff2165eafbcd
	sha256sums = bd655f04eb044f19da779911eb7ad6fd13c899a659720fbcf08f38194365669c
	sha256sums = cb87384ce721ac15a82d254efe8662be0eb9011c122edfcb1caa07194fbae697

pkgname = onlyoffice
