pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors allowing to create, view and edit local documents
	pkgver = 9.0.0
	pkgrel = 2
	url = https://www.onlyoffice.com/desktop.aspx
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = python
	makedepends = dos2unix
	makedepends = nodejs-lts-iron
	makedepends = npm
	makedepends = yarn
	makedepends = grunt-cli
	makedepends = cmake
	makedepends = p7zip
	makedepends = ninja
	makedepends = jdk11-openjdk
	makedepends = libxml2-legacy
	depends = curl
	depends = gtk3
	depends = alsa-lib
	depends = libpulse
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gst-plugins-ugly
	depends = libxss
	depends = nss
	depends = nspr
	depends = ttf-dejavu
	depends = ttf-liberation
	depends = ttf-carlito
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-multimedia
	depends = qt5-x11extras
	depends = qt5-svg
	optdepends = libreoffice: for OpenSymbol fonts
	optdepends = otf-takao: for japanese Takao fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	optdepends = gst-plugins-good: for playing embedded video files
	optdepends = gst-libav: for playing embedded video files
	conflicts = onlyoffice-bin
	conflicts = onlyoffice-git
	options = !emptydirs
	options = !lto
	source = git+https://github.com/ONLYOFFICE/DesktopEditors#tag=v9.0.0
	source = onlyoffice-core::git+https://github.com/ONLYOFFICE/core#tag=v9.0.0.172
	source = onlyoffice-desktop-apps::git+https://github.com/ONLYOFFICE/desktop-apps#tag=v9.0.0.172
	source = onlyoffice-desktop-sdk::git+https://github.com/ONLYOFFICE/desktop-sdk#tag=v9.0.0.172
	source = onlyoffice-dictionaries::git+https://github.com/ONLYOFFICE/dictionaries#tag=v9.0.0.172
	source = onlyoffice-sdkjs::git+https://github.com/ONLYOFFICE/sdkjs#tag=v9.0.0.172
	source = onlyoffice-sdkjs-forms::git+https://github.com/ONLYOFFICE/sdkjs-forms#tag=v9.0.0.172
	source = onlyoffice-web-apps::git+https://github.com/ONLYOFFICE/web-apps#tag=v9.0.0.172
	source = onlyoffice-build_tools::git+https://github.com/ONLYOFFICE/build_tools#tag=v9.0.0.172
	source = onlyoffice-core-fonts::git+https://github.com/ONLYOFFICE/core-fonts#tag=v9.0.0.172
	source = onlyoffice-document-templates::git+https://github.com/ONLYOFFICE/document-templates#tag=v9.0.0.172
	source = onlyoffice.github.io::git+https://github.com/ONLYOFFICE/onlyoffice.github.io
	source = git+https://chromium.googlesource.com/chromium/tools/depot_tools.git#commit=8dde9800ee2b8326ab11a87abd67d3bd9f8c8773
	source = git+https://github.com/v8/v8#tag=9.0.257.43
	source = git+https://github.com/unicode-org/icu.git#tag=release-58-3
	source = v8-89-fix-cstdint.diff
	source = 0001-Add-update-only-to-avoid-download-and-build-at-once.patch
	source = 0002-Add-no-third-party-update-and-update-third-party-onl.patch
	source = 0003-use-QT_VERSION-env-instead-of-guessing.patch
	source = 0004-Only-build-tar.patch
	source = 0001-Fix-boost-module-import.patch
	source = 0001-Disable-static-linking-of-libstdc.patch
	source = 0001-Dynamically-link-libstdc-in-icu.patch
	source = use-fpermissive.diff
	source = fix-glib-qt-macro-collision.diff
	source = fix-limits-include.diff
	sha256sums = 26d470583b811cd06cfd30092e1eaf4e4c5d3a60c6885b46203a6f7a7dd57e7e
	sha256sums = 6104855d4860af52f7433b4b54f71f9894b33038877d13e7141a0ae2dea7ce0e
	sha256sums = 8ac3951a583c346cad9b55ef6d8432b18c3d3beccb6f5303080639ac5cee18eb
	sha256sums = 92adbe2a2a42dccf88e1aa0d23d057dc2977ed2a0c4f59f410c9ea5dd7d25b5d
	sha256sums = 62dc945a78f38ab87e9d0a1a0cfefe0ddee29ba9de4e48468f7047d0aac4e645
	sha256sums = 2dab94e9108d901a16169f6efd887fa5bd89856d8ee906a7a5920e362eab1490
	sha256sums = 1ce9bf73e502031c1bf79d9e7d334f9d92cbed947fab5eddec31cb682f704ca8
	sha256sums = d1092b0f13f11b4f5fe899134755d433db22ccafcbac03e31b7facc8936f9262
	sha256sums = d01c78af810fff63737f9012523c92f6f338ae1ae7019dc64a7de0414962540a
	sha256sums = 55c1d70a8bdd8f818af8e4c784bfc03f0569fcb863cc6797f888b749153ed720
	sha256sums = 1a9ddf334ee246bcd4f412475f91dd2a70408521998f358dbcae18976f861e56
	sha256sums = SKIP
	sha256sums = cd7a982bf79eae86a8b7727193e2a9feccd1388cd0cc474b8d786ac6dc695cfe
	sha256sums = 8cd5a305b9ce85066094963a5d28ad221f9598b9e98e569bf47c61f570c2988b
	sha256sums = 26127ef7a53f1343b36bd5da678663b78dbef81f9d22ed416555e853f55dfc4c
	sha256sums = 9f570942c7467c800acb4b891f7739a1fcd497dbb2d30b04005e0b6a38da6e4d
	sha256sums = a4f2502acfdc48d3daad5ed166c1cd15cb0595a4d5018f22d9390f73f25dd8c6
	sha256sums = e9d56d030039ad72e89dc48877f7fccaeac4cfa5ff584833849be2601fca5fb7
	sha256sums = bdcf095fd46fb47f2992510078c46cef2b0084000ff4a0c4f956efb0db7e4d57
	sha256sums = 0f7acc17b78eaeb338f098088ee11356045a53af6698c79ada45fa261c8d18fe
	sha256sums = 95e107a7c2a895866e8a1d4c89bb4dbed50027fff9e5b9ab513c556537554eef
	sha256sums = b3e040f0551dc469d91d23487e05bdb7123d2a3e50c5180c44be868a6f42ecbf
	sha256sums = a3561d1f18a61c404c8f9f9ed51484b2e19e3caaee86b71b1cabe3c7ccd0053a
	sha256sums = 222dab12468f27b2bc1cc098ad2e4ca5bff8df845939f5cba2efff2165eafbcd
	sha256sums = bd655f04eb044f19da779911eb7ad6fd13c899a659720fbcf08f38194365669c
	sha256sums = cb87384ce721ac15a82d254efe8662be0eb9011c122edfcb1caa07194fbae697

pkgname = onlyoffice
