pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors allowing to create, view and edit local documents
	pkgver = 8.1.1
	pkgrel = 2
	url = https://www.onlyoffice.com/desktop.aspx
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = python
	makedepends = nodejs-lts-hydrogen
	makedepends = npm
	makedepends = yarn
	makedepends = grunt-cli
	makedepends = cmake
	makedepends = p7zip
	makedepends = ninja
	makedepends = jdk11-openjdk
	depends = curl
	depends = gtk3
	depends = alsa-lib
	depends = libpulse
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gst-plugins-ugly
	depends = libxss
	depends = nss
	depends = nspr
	depends = ttf-dejavu
	depends = ttf-liberation
	depends = ttf-carlito
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-multimedia
	depends = qt5-x11extras
	depends = qt5-svg
	optdepends = libreoffice: for OpenSymbol fonts
	optdepends = otf-takao: for japanese Takao fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	conflicts = onlyoffice-bin
	conflicts = onlyoffice-git
	options = !emptydirs
	options = !lto
	source = git+https://github.com/ONLYOFFICE/DesktopEditors#tag=v8.1.1
	source = onlyoffice-core::git+https://github.com/ONLYOFFICE/core#tag=v8.1.1.39
	source = onlyoffice-desktop-apps::git+https://github.com/ONLYOFFICE/desktop-apps#tag=v8.1.1.39
	source = onlyoffice-desktop-sdk::git+https://github.com/ONLYOFFICE/desktop-sdk#tag=v8.1.1.39
	source = onlyoffice-dictionaries::git+https://github.com/ONLYOFFICE/dictionaries#tag=v8.1.1.39
	source = onlyoffice-sdkjs::git+https://github.com/ONLYOFFICE/sdkjs#tag=v8.1.1.39
	source = onlyoffice-sdkjs-forms::git+https://github.com/ONLYOFFICE/sdkjs-forms#tag=v8.1.1.39
	source = onlyoffice-web-apps::git+https://github.com/ONLYOFFICE/web-apps#tag=v8.1.1.39
	source = onlyoffice-build_tools::git+https://github.com/ONLYOFFICE/build_tools#tag=v8.1.1.39
	source = onlyoffice-core-fonts::git+https://github.com/ONLYOFFICE/core-fonts#tag=v8.1.1.39
	source = onlyoffice-document-templates::git+https://github.com/ONLYOFFICE/document-templates#tag=v8.1.1.39
	source = onlyoffice.github.io::git+https://github.com/ONLYOFFICE/onlyoffice.github.io
	source = git+https://chromium.googlesource.com/chromium/tools/depot_tools.git#commit=8dde9800ee2b8326ab11a87abd67d3bd9f8c8773
	source = git+https://github.com/v8/v8#branch=9.0-lkgr
	source = v8-89-fix-cstdint.diff
	source = 0001-Add-update-only-to-avoid-download-and-build-at-once.patch
	source = 0002-Add-no-third-party-update-and-update-third-party-onl.patch
	source = 0003-use-QT_VERSION-env-instead-of-guessing.patch
	source = 0004-Only-build-tar.patch
	source = 0001-Fix-boost-module-import.patch
	source = use-fpermissive.diff
	source = fix-glib-qt-macro-collision.diff
	sha256sums = a1c9b834c350d6c8b779f244b5791e08197370702d13ac564fd49ef8e867087a
	sha256sums = 09d692f5bcb726e3e69d389897989432f45a5fc8652ea03e95213d493e0756fa
	sha256sums = fcd02e10d6dabfd5f9f3e4849aa257e4f4ab9eeb8468327c8dc6d3ae525faba3
	sha256sums = 9055ece3c0afa107aa9ad1bca5743a658e87a12b591a0158e02504c21a161b4b
	sha256sums = 1e44d0d8f26f41730b608401cff6a3c86c94a605db94ad624fb4ef194f7891cd
	sha256sums = 22ee5275a8769596794349860c196d37d785a843ec89e51aa7f6da7b5837b2be
	sha256sums = 72772ef99d783f5cf002afaaad5655d455ff1a0a764464ce7b81a93b6a9a022f
	sha256sums = 6faacd37832a87693efc16c47325818cbd379bdbc5e866c3078426af9b13e3dc
	sha256sums = 5e5cfac259828e5f3043ca3209761ec35bfeba192d478fef74909dccd1315718
	sha256sums = 3724102cfeeb1fde8f86ae767b14eaa672ca43ec472d87321c84cc1ce18189d1
	sha256sums = 87af534eac1847f38b09025bce75e491292069a6ef987937d9c22e8b0679df4a
	sha256sums = SKIP
	sha256sums = cd7a982bf79eae86a8b7727193e2a9feccd1388cd0cc474b8d786ac6dc695cfe
	sha256sums = SKIP
	sha256sums = 36e4855625bf3eaab293208478492393fb4e8f0f1076fac06df56ca828319ffc
	sha256sums = a4f2502acfdc48d3daad5ed166c1cd15cb0595a4d5018f22d9390f73f25dd8c6
	sha256sums = e9d56d030039ad72e89dc48877f7fccaeac4cfa5ff584833849be2601fca5fb7
	sha256sums = bdcf095fd46fb47f2992510078c46cef2b0084000ff4a0c4f956efb0db7e4d57
	sha256sums = 5a10b6e1b71e79f73344d3f2c7bc1611940986e331d0b41bd294bf5c84328633
	sha256sums = 005951c1b8a281148a3a7e79261c728c4d80ff2c580e278e823a84c8751916f9
	sha256sums = 222dab12468f27b2bc1cc098ad2e4ca5bff8df845939f5cba2efff2165eafbcd
	sha256sums = bd655f04eb044f19da779911eb7ad6fd13c899a659720fbcf08f38194365669c

pkgname = onlyoffice
